* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  height: 100%;
  margin: 10px;
}

#checkbox-menu {
  position: absolute;
  opacity: 0%;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
  align-items: center;
  left: 50%; /* cintraliza na div em 50% a partir da esquerda */
  transform: translate(
    -50%
  ); /* compensa a centralização para corrigir e deixar exatamente no meio */
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #123953;
  transition: 0.8s ease-in-out;
}

label span:nth-child(1) {
  top: 0px;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(calc(2 * -160deg));
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(calc(2 * 161deg));
  top: 8px;
}
